:root {
  --nav-bar-height: 50px;
  --nav-bar-background-color: #000;
  --nav-bar-color: white;

  --aria-content-height: calc(100dvh - var(--nav-bar-height));

  --button-background-color: #e29741;
  
  --lich-su-bar-head-backgound-color: #e9891b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --nav-bar-background-color: #fff;
    --nav-bar-color: #000;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

input {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  font-size: 1rem;
  padding: 3px 0;
}
input:focus {
  border-bottom-color: orange !important;
  caret-color: orange !important;
}
a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
