.container {
  height: var(--aria-content-height);
  overflow: hidden;
  position: relative;
}

.LichSuChoi {
  background: #cccccccc;
  height: calc(var(--aria-content-height) - 122px);
  /* padding: 1px 0; */
  overflow: auto;
}
