.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.TongDiem {
  width: 50px;
  aspect-ratio: 1/1;
  background-image: url("/assets/hexagon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 700;
}

.Ten {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.DaiDien {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: black;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  width: 40px;
  aspect-ratio: 1/1;
}
